<h1>Sign Up</h1>
<p>Already a user? <a href="/login">log in here</a></p>
<form class="" action="/signup" method="post">
  <label for="fullname">Name</label>
  <input type="text" name="full_name" value=""><br><br>
  <label for="">Email</label>
  <input type="email" name="email"><br><br>
  <label for="">Password</label>
  <input type="password" name="password"><br><br>
  <input type="submit" name="login" value="sign up">
</form>
